Kod/ProjektPO/output.json
Kod/ProjektPO/build/reports
Kod/ProjektPO/build/libs
Kod/ProjektPO/build/test-results/test
Kod/ProjektPO/.gradle
Kod/ProjektPO/build/tmp/compileJava/previous-compilation-data.bin
